<footer class="site-footer">
  <div class="site-footer__inner">
    <div>
      <p class="site-footer__name">Morten Muusmann</p>
      <p>Kunstmaler og grafisk designer</p>
    </div>
    <div class="site-footer__links">
      <a href="mailto:morten.muusmann@gmail.com">morten.muusmann@gmail.com</a>
      <a href="https://instagram.com/themuzz/" target="_blank" rel="noreferrer">
        Instagram
      </a>
    </div>
    <p class="site-footer__copyright">
      © {new Date().getFullYear()} Morten Muusmann
    </p>
  </div>
</footer>
